<body style="background-color: #f7f7f7;">
  <div class="container"> <!-- style="height: 700px; /*margin-left: 200px;*/ color: black;"> -->

    <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id %>
    <% course = booking.course %>
    <br>


    <h2>You have booked <%= course.title %> for <%= booking.hours %> hours</h2>

    <br>
    <div class="message1">
      <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <div class="message1-name">
      </div>
      <div class="message1-body">
        <p><strong><%= "#{course.user.first_name} #{course.user.last_name}" %></strong>  | <strong><%= course.title %></strong></p>
          <p class="price"><%= booking.hours * course.price %> €  |  <%= course.address %>
        </p>
      </div>
      <div class="message1-body">
        <p><%= booking.start_date %> Date </p>
        <p><%= booking.end_date %> Time</p>
      </div>
    </div>


    <%= link_to "Cancel this Booking",  course_booking_path(:course_id, booking), class: "btn btn", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to "Review this Course",  new_course_review_path(booking.course), class: "btn btn"%>


    <% end %>
    <% end %>
  </div>
</body>
