<%= render 'shared/banner' %>
<div class="middlesection" style="background-color: white;>
  <div class="container" style="margin-top: 10px";>
    <div class="container_frase" style="height: 5 0px";>
      <h1 style="margin-top: -10px;">Learn to code
        <ul id="slides">
          <li class="slide showing"></li>
          <li class="slide", url ""></li>
          <li class="slide"></li>
          <li class="slide"></li>
          <li class="slide"></li>
        </ul>
    </div>
  </div>
</div>

<div class="background_color" style="background-color: #25292E; margin-top:-10px;">
  <div class="background_color" style="background-color: #25292E">
    <div class="container" style="margin-top: 10px; background-color: #25292E; padding: 50px 0px;">
      <div class="row">
        <div class="col-md-4 col-md-4 col-md-4">
          <div class="icon-header">
            <%= image_tag "lightbulb.png", class: "icon-teacher-page" %>
            <h5 class="section-title">Our mission <br>and idea</h5>
          </div>
            <p class="section-paragraph">Code_Plug is a local marketplace for learning and teaching where students are mastering new skills and achieving their goals by learning from expert instructors.
              <!-- Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua -->.</p>
        </div>
        <div class="col-md-4 col-md-4 col-md-4">
          <div class="icon-header">
            <%= image_tag "clicking.png", class: "icon-teacher-page" %>
            <h5 class="section-title">Many teachers <br> in Lisboa</h5>
          </div>
            <p class="section-paragraph">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="col-md-4 col-md-4 col-md-4">
          <div class="icon-header">
            <%= image_tag "time.png", class: "icon-teacher-page" %>
            <h5 class="section-title">Where we are<br>coming from</h5>
          </div>
            <p class="section-paragraph">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
    </div>
  </div>





  <%= content_for :after_js do %>
  <%= javascript_tag do %>
  document.app.bindSweetAlertButtonDemo();
  document.app.showToolTip();
  <% end %>
  <% end %>
