<%= render 'shared/banner' %>
<div class="middlesection" style="background-color: white;>
  <div class="container" style="margin-top: 10px";>
    <div class="container_frase" style="height: 5 0px";>
      <h1 style="margin-top: -10px;">Learn to code
        <ul id="slides">
          <li class="slide showing"></li>
          <li class="slide", url ""></li>
          <li class="slide"></li>
          <li class="slide"></li>
          <li class="slide"></li>
        </ul>
    </div>
  </div>
</div>

<div class="background_color" style="background-color: #25292E; margin-top:-10px;">
  <div class="background_color" style="background-color: #25292E">
    <div class="container" style="margin-top: 10px; background-color: #25292E; padding: 50px 0px;">
      <div class="row">
        <div class="col-md-4 col-md-4 col-md-4">
          <div class="icon-header">
            <%= image_tag "lightbulb.png", class: "icon-teacher-page" %>
            <h5 class="section-title">Our mission <br>and idea</h5>
          </div>
            <p class="section-paragraph">CODE:PLUG is a platform that connects everyone who wants to learn coding with a wide range of expert teachers available to teach them! We aim to create a coding community, where students can interact with each other and which promotes students and teachers meeting in person to share their coding knowledge!
             <!-- a local marketplace for learning and teaching where students are mastering new skills and achieving their goals by learning from expert instructors.
              --> <!-- Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua --></p>
        </div>
        <div class="col-md-4 col-md-4 col-md-4">
          <div class="icon-header">
            <%= image_tag "clicking.png", class: "icon-teacher-page" %>
            <h5 class="section-title">Many teachers <br> in Lisboa</h5>
          </div>
            <p class="section-paragraph">As a student, you can find a range of teachers with different language expertise that can help you solving your coding questions! You can have access to their profile and materials and read the reviews other students have given them! Once you have chosen the teacher that best fits your search, you can meet with him personally in a local and time arranged between the two. </p>
        </div>
        <div class="col-md-4 col-md-4 col-md-4">  
          <div class="icon-header">
            <%= image_tag "time.png", class: "icon-teacher-page" %>
            <h5 class="section-title">Find any<br>language!</h5>
          </div>
            <p class="section-paragraph"> In our platform, you can find any coding language you want to learn, from back-end (Ruby to Phyton) to front-end (HTML to CSS)! If you are not sure about what the best language is, we can help you finding out based on your need!</p>
        </div>
      </div>
    </div>
  </div>





  <%= content_for :after_js do %>
  <%= javascript_tag do %>
  document.app.bindSweetAlertButtonDemo();
  document.app.showToolTip();
  <% end %>
  <% end %>
