<h1>Your Profile</h1>

<%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
<h1><%= current_user.email %></h1>
<% if current_user.teacher? %>
  <h1>Teacher</h1>
<% else %>
  <h1>Student</h1>
<% end %>
<%= link_to "Edit Your Profile", edit_user_registration_path, class: "btn btn-primary" %>

<div class="container profile" style="background-color: "#f7f7f7";>
  <div class="row">
    <div class="col-md-4 col-md-8">
      <%= image_tag "question.png", class: "icon-teacher-page" %>
      <%= link_to "Edit Your Image", edit_user_registration_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>


