<div class="banner-teacher" style="background: linear-gradient(-225deg, rgba(00,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), url('https://lh3.googleusercontent.com/unqE6sK2WUscyBwOVwc1CIo6Mq-O_3Td8lf9sVZEU0qnEonf3nTii5h8WevZuqm134_YYqJ1TmEcwr2n4DtNqX6-XbbdlbuuU_HJP4fJn8BmjLCVKmK5h_XMAX8WJbmOY17z2T3uCKxMCJedjjyUHo_S8lnBgBmg4-09OnTz570ph-G_HMJw0PhZMw_xOVj_cogLyIUdqejrt1L7PCSXvaQE7aUplq-GK6VA4id1EfAOxa76-vzEhuo9Y6N7zku3lONx2et-wtesHDAv0AhTNeoXabDffiI-VyXyQaLCWQ9FPZt2rhpL5r2HL71pkQJLwPX4dMoy89I-QDAX9T0Yp6hkfDhTUeGXtAG_ZN2BXBtBkN1ykZDbCUzyT5Ja-ikiuHLMQjbGutwC7KdTOxep0RuXswt5qo9UylMjOclWU2OUBXhnOCdSuilMEua3Nx55dXgTSKIJH4spfU0pQZfZkgrvHOheg9JIFi8e4Ylf4630DgRin_5h4PxWAEbGCfdTQ5LbABREzk0AX3NsJGi0fGmQaPz4HOg-2BOu3l6RfzKDe9eDOjBcyP4jAzE9JyTsJAJrUaaSnCBuCHMcfvFPxjGuxKik5xyF8eysm5MOONQfAqkhZ-PvTxEh89URdCS6RcJN9d9CmHDgf-ZFsk8bIoKnL9xnaivs=w1205-h803-no') ; ">
  <div class="banner-content">
      <h1>Become a teacher</h1>
      <% if current_user.nil? %>
        <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "btn btn-teacher" %>
      <% else %>
        <%= link_to t(".sign_up", default: "Sign Up"), edit_user_registration_path, class: "btn btn-teacher" %>

      <% end %>
  </div>
  <div class="opacity"></div>
</div>

<div class="container home" style="background-color: "#f7f7f7";>
  <div class="row">
    <div class="col-md-4 col-md-4 col-md-4">
      <div class="icon-header">
      <%= image_tag "question.png", class: "icon-teacher-page" %>
      <h5>Why use <br>Code_Plug?</h5>
      </div>
      <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit?</p>
    </div>
    <div class="col-md-4 col-md-4 col-md-4">
      <div class="icon-header">
      <%= image_tag "wrench.png", class: "icon-teacher-page" %>
      <h5>Develop your <br>own course</h5>
      </div>
      <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit?</p>
    </div>
    <div class="col-md-4 col-md-4 col-md-4">
      <div class="icon-header">
        <%= image_tag "checked.png", class: "icon-teacher-page" %>
      <h5>Code_Plug is <br>built on trust</h5>
      </div>
      <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit?</p>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
      <hr>
      </div>
    </div>


  <h6>How to become a teacher</h6>
  <div class="row">
    <div class="col-md-6 col-md-6" style="padding-bottom: 50px;">
      <div class="flexbox-card">
        <div class="icon-header">
          <%= image_tag "tools.png", class: "icon-teacher-page" %>
          <h4>Create your course</h4>
        </div>
        <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit? Mit unseren Online-Programmen stehen dir etliche Branchen und Zukünfte offen.Udacity versteht die Zukunft als Aufgabe.</p>
      </div>
    </div>
    <div class="col-md-6 col-md-6">
      <%= image_tag "createpens.jpg", class: "image-teacher-page" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-6">
      <%= image_tag "teaching.jpg", class: "image-teacher-page" %>
    </div>
    <div class="col-md-6 col-md-6" style="padding-bottom: 50px;">
      <div class="flexbox-card">
        <div class="icon-header">
        <%= image_tag "teach.png", class: "icon-teacher-page" %>
        <h4>Teach your students</h4>
        </div>
        <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit? Mit unseren Online-Programmen stehen dir etliche Branchen und Zukünfte offen.Udacity versteht die Zukunft als Aufgabe.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-6" style="padding-bottom: 50px;">
      <div class="flexbox-card">
        <div class="icon-header">
        <%= image_tag "give-money.png", class: "icon-teacher-page" %>
        <h4>Get paid</h4>
        </div>
        <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit? Mit unseren Online-Programmen stehen dir etliche Branchen und Zukünfte offen.Udacity versteht die Zukunft als Aufgabe.</p>
      </div>
    </div>
    <div class="col-md-6 col-md-6">
      <%= image_tag "getpaid.jpg", class: "image-teacher-page" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-6" style="padding-bottom: 50px;">
      <%= image_tag "community.jpg", class: "image-teacher-page" %>
    </div>
    <div class="col-md-6 col-md-6">
      <div class="flexbox-card">
        <div class="icon-header">
        <%= image_tag "community.png", class: "icon-teacher-page" %>
        <h4>Join a community</h4>
        </div>
        <p>Udacity versteht die Zukunft als Aufgabe. Als einen Raum, der durch jeden Einzelnen gestaltet werden soll. Welches Feld willst du mitgestalten? Die Mobilität? Das Gesundheitswesen? Kommunikation? Ökologie? Regierungsarbeit? Mit unseren Online-Programmen stehen dir etliche Branchen und Zukünfte offen.Udacity versteht die Zukunft als Aufgabe.</p>
      </div>
    </div>
  </div>

</div>









  <%= content_for :after_js do %>
  <%= javascript_tag do %>
  document.app.bindSweetAlertButtonDemo();
  document.app.showToolTip();
  <% end %>
  <% end %>


