<div class="banner-teacher" style="background: linear-gradient(-225deg, rgba(00,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), url('https://lh3.googleusercontent.com/unqE6sK2WUscyBwOVwc1CIo6Mq-O_3Td8lf9sVZEU0qnEonf3nTii5h8WevZuqm134_YYqJ1TmEcwr2n4DtNqX6-XbbdlbuuU_HJP4fJn8BmjLCVKmK5h_XMAX8WJbmOY17z2T3uCKxMCJedjjyUHo_S8lnBgBmg4-09OnTz570ph-G_HMJw0PhZMw_xOVj_cogLyIUdqejrt1L7PCSXvaQE7aUplq-GK6VA4id1EfAOxa76-vzEhuo9Y6N7zku3lONx2et-wtesHDAv0AhTNeoXabDffiI-VyXyQaLCWQ9FPZt2rhpL5r2HL71pkQJLwPX4dMoy89I-QDAX9T0Yp6hkfDhTUeGXtAG_ZN2BXBtBkN1ykZDbCUzyT5Ja-ikiuHLMQjbGutwC7KdTOxep0RuXswt5qo9UylMjOclWU2OUBXhnOCdSuilMEua3Nx55dXgTSKIJH4spfU0pQZfZkgrvHOheg9JIFi8e4Ylf4630DgRin_5h4PxWAEbGCfdTQ5LbABREzk0AX3NsJGi0fGmQaPz4HOg-2BOu3l6RfzKDe9eDOjBcyP4jAzE9JyTsJAJrUaaSnCBuCHMcfvFPxjGuxKik5xyF8eysm5MOONQfAqkhZ-PvTxEh89URdCS6RcJN9d9CmHDgf-ZFsk8bIoKnL9xnaivs=w1205-h803-no') ; ">
  <div class="banner-content">
      <h1>BECOME A TEACHER</h1>
      <% if current_user.nil? %>
        <%= link_to t(".sign_up", default: "SIGN UP"), new_user_registration_path, class: "btn btn-teacher" %>
      <% else %>
        <%= link_to t(".sign_up", default: "SIGN UP"), edit_user_registration_path, class: "btn btn-teacher" %>

      <% end %>
  </div>
  <div class="opacity"></div>
</div>

<div class="container home" style="background-color: "#f7f7f7";>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="icon-header">
      <%= image_tag "question.png", class: "icon-teacher-page" %>
      <h5>Why use <br>CODE:PLUG?</h5>
      </div>
      <p> We are offering a platform where students can find you based on the coding languages you know, your prices and the location in which you want the classes to be held. If you want to get some extra cash and help other students develop their coding skills, you're in the right place.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="icon-header">
      <%= image_tag "wrench.png", class: "icon-teacher-page" %>
      <h5>Create your <br>own course</h5>
      </div>
      <p> In CODE:PLUG we offer you the flexibility to create your own courses - be creative! You can choose the material you want to share with the students and how it will be structured. You can directly arrange with the students the best schedules for both of you through the chat.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="icon-header">
        <%= image_tag "checked.png", class: "icon-teacher-page" %>
      <h5>CODE:PLUG is <br>built on trust</h5>
      </div>
      <p> This a Coding Community in which the student and the teacher meet in person. Meet-ups between all the students and teachers will give you chances to expand your network. We have a platform that is built on trust and personal interaction.</p>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
      <hr>
      </div>
    </div>


  <h6>How to become a teacher</h6>
  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xs-12 col-md-6">
      <div class="flexbox-card">
        <div class="icon-header">
          <%= image_tag "tools.png", class: "icon-teacher-page" %>
          <h4>Create your course</h4>
        </div>
        <p>Building your course is really easy! We guide you on how to do it on the "Create a course" form. You can also add pdf materials for the student to dowload and introduction videos for him to watch!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= image_tag "createpens.jpg", class: "image-teacher-page" %>
    </div>
  </div>

  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "teaching.jpg", class: "image-teacher-page" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="flexbox-card">
        <div class="icon-header">
        <%= image_tag "teach.png", class: "icon-teacher-page" %>
        <h4>Teach your students</h4>
        </div>
        <p>Share your coding abilities with the students in places and times agreed between the two! </p>
      </div>
    </div>
  </div>

  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xs-12 col-md-6">
      <div class="flexbox-card">
        <div class="icon-header">
        <%= image_tag "give-money.png", class: "icon-teacher-page" %>
        <h4>Get paid</h4>
        </div>
        <p> Get paid immediatly when a student books a class, for the price you define (per hour) multiplied by the number of hours the student books!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= image_tag "getpaid.jpg", class: "image-teacher-page" %>
    </div>
  </div>

  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "community.jpg", class: "image-teacher-page" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="flexbox-card">
        <div class="icon-header">
        <%= image_tag "community.png", class: "icon-teacher-page" %>
        <h4>Join a community</h4>
        </div>
        <p>Most of all, we want to be a community of coders in which you can share coding knowledge with other teachers and the students!</p>
      </div>
    </div>
  </div>

</div>









  <%= content_for :after_js do %>
  <%= javascript_tag do %>
  document.app.bindSweetAlertButtonDemo();
  document.app.showToolTip();
  <% end %>
  <% end %>


