
<style>
  .flex-container {
    display: flex;
  }
  .flex {
    margin: 15px;
  }
</style>


      <div class="flex-container">
        <div class="flex-item">
          <%= form_tag(courses_path, remote: true, method: :get) do %>

            <%= select_tag "subject_id", options_from_collection_for_select(@subjects, "id", "category")%>

            <%= select_tag "price", options_for_select([["Any", nil], ["0-20€", 1], ["21-50€", 2], ["51€<", 3] ])%>

            <%= select_tag "distance", options_for_select([["Any", nil], ["0-5km", 1], ["6-10km", 2], ["10km<", 3] ])%>

            <%= submit_tag :submit, class: "btn-filter", value:"Search" %>
          <% end %>
        </div>
      </div>

