<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
      <% if course.user_id == current_user.id %>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="card">
            <% if course.photo.url.nil? %>
              <div class="front">
                <img src="http://res.cloudinary.com/arthurpfister/image/upload/v1528218508/max-nelson-492729-unsplash.jpg" alt="" class="center">
                <div class="caption">
                  <%= cl_image_tag current_user.photo, id: "avatar" %>
                  <h2><%=course.title %></h2>
                  <h6><%=course.price%>€    per hour</h6><br>
                  <p><%= course.description[0,300] %>...
                    <a href="#"><%= link_to "", course_path(course)%></a>
                </div>
              </div>
            <% else %>
              <div class="front">
                <img src=<%= cl_image_path course.photo %>>
                <div class="caption">
                  <h2><%=course.title %></h2>
                  <h6><%=course.price%>€    per hour</h6><br>
                  <p><%= course.description[0,300] %>...
                    <a href="#"><%= link_to "", course_path(course)%></a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
