<style>
.flatpickr-weekdays {
	display: none !important;
}
</style>


<div class="wrapper">
	<div class="container show-container" style="margin-top: 30px !important">
		<div class="row">

<!-- <marquee behavior="" direction="up" bgcolor="turquoise"><h1>My A$$ Fuck</h1></marquee>
<marquee truespeed="20" direction="down" width="600" height="600" behavior="alternate" style="border:solid">
  <marquee behavior="alternate">
    <h2 style="font-size: 40px">WHAT THE ACTUAL FUCK</h2>
  </marquee>
</marquee> -->
<div class="col-sm-3">
	<div class="profile-line">
		<div class="user-card">
			<div class="user-card-left">
				<%= cl_image_tag current_user.photo, id: "avatar" %>
			</div>

			<div class="user-card-right">
				<h1 class="break-word"><%= @course.user.first_name %> <%= @course.user.last_name %> </h1>
				<p class="break-word"> <i class="fas fa-phone"></i><%= @course.user.phone_number%></p>
				<p class="break-word"><i class="fas fa-map-marker"></i><%=@course.user.location %></p>
				<p><i class="fas fa-star"></i></p>
			</div>
		</div>

		<div class="teacher-about-me">
			<h4 class="break-word">Lalalalal<%=@course.user.current_position %></h4>
			<p><%=@course.user.description %></p>
		</div>


		<div class="teacher-skills">
			<h4>Coding languages</h4>
			<p>  teacher was not that good, I had some difficulties understandi <%= @course.user.languages %> </p>
		</div>


		<div class="feedback">

			<h4>Teacher feedback </h4>
			<p>(150 reviews)</p> 
			<p> Average: <i class="fas fa-star"></i></p>
			<div class="review">
				<div class="review-name">
					<img id="avatar-small" src="https://kitt.lewagon.com/placeholder/users/random">
					<h1>Marta</h1>
					<p>1 month ago</p>
				</div>
				<div class="review-description">
					<h5>Great teacher!</h5>
					<p>The teacher was not that good, I had some difficulties understanding it.</p>
				</div>
			</div>
		</div>

		<div class="feedback">
			<div class="review">
				<div class="review-name">
					<img id="avatar-small" src="https://kitt.lewagon.com/placeholder/users/random">
					<h1>Arthur</h1>
					<p>1 month ago</p>
				</div>
				<div class="review-description">
					<h5>Great teacher!</h5>
					<p>The teacher was not that good, I had some difficulties understanding it.</p>
				</div>
			</div>
		</div>

		<div class="feedback">
			<div class="review">
				<div class="review-name">
					<img id="avatar-small" src="https://kitt.lewagon.com/placeholder/users/random">
					<h1>Alex</h1>
					<p>1 month ago</p>
				</div>
				<div class="review-description">
					<h5>Great teacher!</h5>
					<p>The teacher was not that good, I had some difficulties understanding it.</p>
				</div>
			</div>
		</div>


		<div class="talk-teacher">
			<%= link_to "More reviews", user_path(@course.user), class: "button_2" %> </div>	

			<div class="talk-teacher-2">
				<%= link_to "Talk to teacher", chats_path(sender_id: current_user.id, recipient_id: @course.user.id), method: :post, class: "button_2" %>
			</div>	

		</div>
	</div>


	<div class="col-xs-12 col-sm-6" style="display: flex">
		<div class="course">
			<div class="row">
				<div class="col-xs-12">
					<div class="course-top" >
						<h1><%= @course.title %>
							<%= image_tag ApplicationHelper.get_image_name_from_subject(@course.subject.category.downcase), class:"image_tag_2"%></h1> 
							<p><%= @course.address %> - <%= @course.city %>	</p>
								<h6><%= link_to "(View on google maps)", "https://www.google.com/maps/?q=#{@course.latitude},#{@course.longitude}", target: "_blank" %> </h6>
						</div> 
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="course-video">
							<iframe src="https://www.youtube.com/embed/<%= @course.video %>" height="auto" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>				
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="course-details">
							<h4>Course Description</h4>
							<p><%= @course.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptas laudantium a vero esse, porro voluptate commodi in dolores necessitatibus temporibus deleniti cum quod accusantium numquam id quo magni consectetur!
								ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptas laudantium a vero esse, porro voluptate commodi in dolores necessitatibus temporibus deleniti cum quod accusantium numquam id quo magni consectetur!
							ipsum dolor sit amet, consectetur adipisicing elit. Molestias voluptas laudantium a vero esse, porro voluptate commodi in dolores necessitatibus temporibus deleniti cum quod accusantium numquam id quo magni consectetur!</p>
							<h4>What will you learn?</h4>
							<p> <%= @course.learning %></p>
							<h4>Requirements</h4>
							<p><%= @course.requirement %></p>
							<h4>Resources</h4>
							<div class="row" style="margin-bottom:30px">
								<div class="resources">
								<div class="col-xs-12 col-md-4">
									<a href="<%= @course.document_1.url %>">
										<%= cl_image_tag(@course.document_1, :width => 200, :height => 250, :crop => :fill, format: "png", class:"box-shadow") %>						
									</a>					
								</div>
								<div class="col-xs-12 col-md-4">
									<a href="<%= @course.document_2.url %>">
										<%= cl_image_tag(@course.document_2, :width => 200, :height => 250, :crop => :fill, format: "png", class:"box-shadow")  %>						
									</a>					
								</div>
								<div class="col-xs-12 col-md-4">
									<a href="<%= @course.document_3.url %>">
										<%= cl_image_tag(@course.document_3, :width => 200, :height => 250, :crop => :fill, format: "png", class:"box-shadow") %>						
									</a>
									</div>					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<%# cl_image_tag @course.photo, height: 250, width: 250, crop: :fill %>

		</div>

		<div class="col-xs-12 col-md-3" style="position: sticky; top: 10px;">

			<div class="book-class">
				<div class="book-menu">
					<h4>Book a class now!</h4>
					<div class="dates">
						<%= simple_form_for [@course, @booking] do |f| %>
						<div class="col-md-6">
							<div class="courses-booking-form">
								<p>Start Date</p>
								<div class="check_in">
									<p>
										<%= f.input :start_date, as: :string, id:'booking_start_date', input_html: { class: 'flatpickr-input' }%>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<p>End Date</p>
							<div class="check_out">
								<p>
									<%= f.input :end_date, as: :string, id:"booking_end_date", input_html: { class: 'flatpickr-input' }  %>
								</p>

							</div>
						</div>
					<p id="course-price"> € <span>
						<%= @course.price %></span> per hour</p>
						<div  id="booking-totals" style="display: none;" >
							<p> Hours booked: <span id="total-hours"></span> hours</p>
							<p>Total price: <span id="total-price"></span> €</p> 
						</div>
	<!-- 						<% end %>


									<div id="calendar">
										<ul class="list-inline">
											<li data-target="mo" class="active-day"><a href="#">MO</a></li>
											<li data-target="tu" ><a href="#">TU</a></li>
											<li data-target="we"><a href="#">WE</a></li>
											<li data-target="th"><a href="#">TH</a></li>
											<li data-target="fr"><a href="#">FR</a></li>
											<li data-target="sa"><a href="#">SA</a></li>
											<li data-target="su"><a href="#">SU</a></li>
										</ul>

										<div id="mo" class="availability active-availability">

											From 9 to 10
										</div>
										<div id="tu" class="availability">

											From 10 to 11
										</div>
										<div id="we" class="availability">					From 12 to 13
										</div>
										<div id="th" class="availability">
											From 14 to 15
										</div>
										<div id="fr" class="availability">
																						F
											From 14 to 15
										</div>
										<div  id="sa" class="availability">	<%= 77 %></div>
										<div id="su"  class="availability">	<%= 88 %></div>
									</div>
								</div> -->

								<% unless @course.user_id == current_user.id %>
								<%= link_to "Book this Course", new_course_booking_path(@course), class: "button_4", data: { toggle: "modal", target: "#bookingModal" } %>
								<% end %>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

<div class="text-center" style="margin-top: 6vh;">

	<% if policy(@course).destroy? %>
	<%= link_to "Remove this Course", @course, class: "button_2", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<% if policy(@course).edit? %>
	<%= link_to "Edit this Course", edit_course_path(@course), class: "button_2" %>
	<% end %>
	<br>
	<br>
	<br>

</div>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Book this Course</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<%= render 'bookings/form', booking: @booking, course: @course  %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<%= content_for :after_js do %>
<%= javascript_tag do %>
document.app.days();
<% end %>
<% end %>

